# IntelliJ
.idea/
*.iml

# Maven
target/

# Environment
env.properties

# Java
*.class
*.jar
*.war
*.ear
*.nar

# Logs
*.log

# macOS
.DS_Store

# JVM
hs_err_pid*
replay_pid*uploads/

# Upload runtime

uploads/
